{% extends "tours/base.html" %}
{% block content %}
  <main class="container mt-3">
    <h1 class="display-5">Летим {{ departure_name_low }}</h1>
    <p class="mb-4">{{ departure_info }}</p>
    <!-- CARDS -->
    <div class="row">
      {% for tour_id, tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <a href="/tour/{{ tour_id }}/">
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          </a>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }} - {{ tour.title }} - {{ tour.stars }}★</h2>
            <p class="card-text">{{ tour.description }}</p>
            <h2 class="h6 card-title">{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} ₽</h2>
            <small class="text-muted">{{ departure_name }}</small>
            <a href="/tour/{{ tour_id }}/" class="btn btn-sm btn-light float-right">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}