{% extends "tours/base.html" %}
{% block content %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('{{ MEDIA_URL }}scale_1200.webp'); background-position: center center;">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_id, tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <!---
          <div class="view overlay rounded-top">
            <img src="{{ tour.picture }}" class="img-fluid" alt="">
            <a href="/tour/{{ tour_id }}/">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          --->
          <div class="embed-responsive embed-responsive-16by9">
            <a href="/tour/{{ tour_id }}/">
              <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
            </a>
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }} - {{ tour.title }} - {{ tour.stars }}★</h2>
            <p class="card-text">{{ tour.description }}</p>
            <h2 class="h6 card-title">{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} ₽</h2>
            <small class="text-muted">{{ tour.departure_name }}</small>
            <a href="/tour/{{ tour_id }}/" class="btn btn-sm btn-light float-right">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
