{% extends "base.html" %}
{% block content %}
  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{ tour.title }} <font color="#ffcc00">{{ tour_stars }}</font></h1>
      <!-- HERO -->
      <p class="lead">{{ tour.country }}, {{ tour.nights }} ночей, {{ tour.date }}, вылет {{ departure_name_low }} </p>
      <div class="w-75">
      <img src="{{ tour.picture }}" alt="">
      <p class="my-4">{{ tour.description }}</p>
      <a href="https://yandex.ru/search/?text={{ tour.country }} купить тур {{ departure_name_low }}&clid=2270455&win=387&lr=118936&noreask=1&nomisspell=1" class="btn btn-success btn-lg btn-block" target="_blank">Купить тур за {{ tour.price }} ₽</a>
      </div>
    </section>
  </main>
{% endblock content %}
